body
{
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;

}

			/*en-tête*/

header
{
	background-color:#2F8D79;
	width:auto;

}

header h1
{
	
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 60px;
}

#Menus
{
	width: 100%;
	height:auto;
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}
#Menus section
{
	display: flex;
	margin: 50px auto;
}



#Menus section  a
{
	text-decoration: none;
}


			/*Partie Menus*/



/*section la note enchantée*/
@font-face 
{
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

.Mnote
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:1;
	width: 400px;
	height:500px;
	font-family: 'devonshire', Arial, serif;
	font-style: italic;	
	background-color: #F1DEDC ;
	margin-right: 80px;
}

.Mnote div
{
	height: 100%;
}

.Mnote i
{
	font-size: 4em;
	margin-top:100px;
	margin-left: 170px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );	
}

.Mnote h2
{
	color: #5A3017 ;
	font-size: 30px;
}

.Mnote h2,p
{
	text-align: center;
	color: #5A3017 ;
}

.Mnote p 
{
	font-size:50px;
	color: #5A3017 ;
}

/*section Le chic à la française*/

.Mchic
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:2;
	width: 400px;
	height:500px;
	font-family: 'Baloo 2', cursive;
	background-color: #FCF5FE ;

	
}
.Mchic div
{
	height: 100%;
}

.Mchic h2
{
	font-size: 30px;
	text-align: center;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA );
}

.Mchic p
{
	color:#EA7F0D;
	font-size:40px;
	font-weight: bold;
}

/*section Le délice des papilles*/

.Mdelice
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:3;
	width: 400px;
	height:500px;
	/*margin-left:170px;*/
	font-family: 'Great Vibes', cursive;
	font-style: italic;
	background-color: #ECF3F4;
	margin-right: 80px;
}

.Mdelice div
{
	height: 100%;
}

.Mdelice h2
{
	text-align: center;
	font-size: 30px;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}

.Mdelice p
{
	color:#090675;
	font-size: 40px;
}


/*section la note enchantée*/

.Mpalette
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:4;
	width: 400px;
	height:500px;
	
	font-family:'Caveat', cursive;
	font-style: italic;
	background-color: #FEFEFE;	
}

.Mpalette div
{
	height: 100%;
}

.Mpalette h2
{
	text-align: center;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#0D9906, #E1FFCD);
	font-size: 30px;
}

.Mpalette p 
{
	color:#0D9906 ;
	font-size: 40px;
}


/*section La palette du gôut*/



.next
{
	width: 350px;
	margin:100px auto;
	
	
	padding:5px 50px;
	border:1px black none;
	background-color: #2F8D79;
	border-radius: 10px 10px;
}

.next h2
{
	color: #EAC645;
	text-align: center;
	font-size: 30px;
}




			/*Pied de page*/
.infos
{
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	height:auto;
	background-color:#2F8D79 ;	
}

.Mlegales p
{	
	justify-content: flex-start;
	margin-left: 50px;
	text-align: center;
	font-size: 30px;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

 .contact p
{
	justify-content: flex-end;
	margin-right: 50px;
	font-size: 30px;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

@media screen and (min-width: 2560px)
{
	#Menus .groupe_A
	{
		margin-left: 300px;
	}

	#Menus .groupe_B
	{
		margin-right: 300px;
	}
}

@media screen and (max-width: 880px)
{
	#Menus
	{
		margin: 0 auto;
	}

	#Menus section
	{
		flex-direction: column;
		margin:10px auto;
	}

	#Menus .groupe_A div
	{
		margin-top: 50px;
		margin-right: 0px;

	}

	#Menus .groupe_B div
	{
		margin-top: 50px;
		margin-right:  0px;
	}

	.next
	{
		margin: 100px auto;

	}
}



/*Media Queries*/


@media screen and (max-width: 820px)
{
	#Menus
	{
		flex-direction: column;
	}

	#Menus section
	{
		flex-direction: column;
		margin:10px auto;
	}
	
	#Menus div
	{
		width: 400px;
		height: 500px;
	}

	#Menus divh2
	{
		padding-top: 50px;
	}


	#Menus div  h2,p
	{
		font-size: 40px;
	}
	#Menus .Mnote i
	{
		margin-top: 50px;
		margin-bottom: 0;
		margin-left: 180px;
		font-size: 40px;
	}

	#Menus .Mnote h2
	{
		margin-top: 0px;
	}

	.next
	{
		width: 200px;
	}
}

@media screen and (max-width:600px)
{
	#Menus div
	{
		width: 250px;
		height: 350px;
	}

	#Menus div  h2,p
	{
		font-size: 25px;
	}

	#Menus div  h2
	{
		padding-top: 50px;
	}

	#Menus div  h2+p
	{
		margin-top: 0px;
	}

	#Menus .Mnote i
	{
		margin-top: 50px;
		margin-bottom: 0;
		margin-left: 100px;
		font-size: 40px;
	}

	#Menus .Mnote h2
	{
		margin-top: 0px;
	}

	.next
	{
		margin-top: 50px;
		margin-bottom: 100px;
		width: 150px;
	}

	.next h2
	{
		font-size: 20px;
	}

	.infos p
	{
		font-size: 20px;
	}
}

@media screen and (max-width: 300px)
{
	#Menus div
	{	
		width: 200px;
		height: 300px;

	}

	#Menus div  h2,p
	{
		font-size: 25px;
	}



	#Menus .Mnote i
	{
		margin-top: 50px;
		margin-left: 80px;
		font-size: 40px;
	}

	.infos p
	{
		font-size: 18px;
	}

}