body
{
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

			/*en-tête*/
.logo
{
	background-color:#2F8D79;
}


.logo h1
{
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 3em;
}

.logo h1 a
{
	color: #EAC645;
	text-decoration: none;
}

 .nom_menu
{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 0px;	
}

#Menu
{
	border:1px black none;
	width: 90%;
	height:auto;
	margin: 50px auto 200px;
	display: flex;
	flex-direction: column;
	background-color: #FCF5FE   ;
	font-family: 'Baloo 2', cursive;
}

#Menu .description 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}


#Menu .titremenu
{
	text-align: center;
	margin: 20px 0px;
}

#Menu .titremenu h2
{
	font-size: 50px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA   );
	font-family: 'Amita', cursive;
}
#Menu .liste p
{
	margin-left:350px;
}

#Menu .prix p
{
	margin-right: 350px;
}


#Menu h3
{
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
}

#Menu h3 span
{
	margin: 0 70px 0;
}


/*pour se mettre en appetit*/

.entree
{
	color: #EA7F0D;
}


.soupe
{
	margin-bottom: 30px;
}



/*plaisir des papilles*/
.plat
{
	color: #8B4068  ;
}


.pigeonneau
{
	margin-bottom: 30px;
}



/*gourmandises sucrees*/

.dessert
{
	margin-bottom: 50px;
	color:#562ACA   ;
	display: flex;
	flex-direction: column;
}


.gateau
{
	margin-bottom: 60px;
}




			/*Pied de page*/
.infos
{
	position: fixed;
	bottom:0;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;

}

.infos div:hover
{
	-webkit-animation-name:vibrations;
	-webkit-animation-duration: 0.15s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@keyframes vibrations
{
	0%
	{
		-webkit-transform: translate(2px,1px) rotate(0deg);
	}

	20%
	{
		-webkit-transform: translate(-1px,0px) rotate(1deg);
	}

	40%
	{
		-webkit-transform: translate(1px,1px) rotate1deg);
	}

	60%
	{
		-webkit-transform: translate(-1px,1px) rotate(0deg);
	}

	80%
	{
		-webkit-transform: translate(-1px,-1px) rotate(1deg);
	}

	100%
	{
		-webkit-transform: translate(1px,-2px) rotate(-1deg);
	}
}

.Mlegales p
{
	
	text-align: center;
	margin-left: 50px;
	font-size: 20px;
	color:#EAC645;	
}


.infos p a
{
	text-decoration: none;
	color: #EAC645;
}

 .contact p
{
	margin-right: 50px;
	font-size: 20px;
	color: #EAC645;
}

/*media queries*/


@media screen and (max-width: 2560px)
{
	#Menu .liste p
	{
		margin-left: 600px;
	}

	#Menu .prix p
	{
		margin-right:600px;
	}
}

@media screen and (max-width: 2013px)
{
	
	#Menu .liste p
	{
		margin-left: 400px;
	}

	#Menu .prix p
	{
		margin-right: 400px;
	}


}

@media screen and (max-width: 1840px)
{

	#Menu h3 img
	{
		width: 25%;
	}
	#Menu h3 span
	{
		font-size: 30px;

	}
	.entree h3 span
	{

		margin:0;
	}

		#Menu .liste p
	{
		margin-left: 300px;
	}
	
	#Menu .prix p
	{
		margin-right: 300px;
	}

}

@media screen and (max-width: 1540px)
{
	#Menu
	{
		margin-bottom: 200px;
	}

	#Menu div p
	{
		font-size: 25px;
	}
	#Menu h3 span
	{
		font-size: 30px;

	}


	#Menu header
	{
		margin-bottom: 0;
	}

	#Menu header h2
	{
		font-size:60px;	
	}

	#Menu .liste p
	{
		margin-left: 200px;
	}

	#Menu .prix p
	{
		margin-right:200px;
	}


}
@media screen and (max-width: 1190px)
{
	#Menu h3 span
	{
		font-size: 30px;

	}

	
	#Menu div p
{
	font-size:25px;
}

#Menu h3 img
	{
		width: 20%;
	}

	#Menu .prix p
	{
		margin-right: 150px;
	}

	#Menu .liste p
	{
		margin-left:  180px;
	}
	
}


@media screen and (max-width: 960px)
{
	

	#Menu header h2
	{
		font-size: 50px;
	}

	#Menu .description
	{
		flex-direction: column;
		text-align: center;

	}



	#Menu div p
	{
		font-size: 20px;
	}

	#Menu .liste p
	{
		margin-left: 0;
	}
	
	#Menu .prix p
	{
		margin-right: 0;
	}

	#Menu h3 img
	{
		width: 25%;

	}

	#Menu h3 span
	{
		font-size: 25px;
		margin: 0;
	}
}

@media screen and (max-width: 760px)
{

	#Menu header h2
	{
		font-size: 40px;
	}

	#Menu h3 span
	{	
		font-size:25px;
	}

	#Menu div
	{
		font-size: 20px;
	}

	.infos div p
	{
		font-size: 25px;
	}

	#Menu h3 img
	{
		width: 20%;

	}
	
}

@media screen and (max-width: 640px)
{
	
	#Menu div p
	{
		font-size: 15px;
	}
	.infos div p
	{
		font-size: 20px;
	}

	#Menu h3 img
	{
		width: 15%;

	}
	
	#Menu h3 span
	{	
		font-size:20px;

	
	}
	
}

@media screen and (max-width: 480px)
{
	

	#Menu .titremenu h2
	{
		font-size: 30px;
	}
	#Menu h3 span
	{	
		font-size:20px;

	}


	#Menu div p
	{
		font-size: 15px;
	}

	.Mlegales p
	{
		margin-left: 10px;
	}

	.contact p
	{
		margin-right: 10px;
	}
	#Menu h3 img
	{
		width: 10%;


	}
	
	
}



@media screen and (max-width: 415px)
{
	.logo h1
	{
		font-size:40px;
	}

	

	#Menu header h2
	{
		font-size: 20px;
	}


	#Menu
	{
		margin-bottom: 100px;
	}
	#Menu h3 img
	{	
		width: 15%;
	}

	#Menu h3
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Menu h3 span
	{
		font-size: 15px;
	}

	#Menu div
	{
		
		width: 100%;
		font-size: 17px;
	}

	

	.infos div p
	{
		font-size: 15px;
	}
}
@media screen and (max-width: 300px)
{
	#Menu h3 img
	{	
		width: 5%;
	}
}