body
{
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

			/*en-tête*/
header #logo
{
	width: 100%;
	margin:0;
	text-align: center;
	background-color:#639B89; 

}

#logo img
{
	width: 20%;
	margin-top: 50px;
	margin-bottom: 50px;	
}

 .nom_menu
{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 0px;	
}

.Menu
{
	border:1px black none;
	width: 90%;
	height:auto;
	margin: 0px auto 200px;
	display: flex;
	flex-direction: column;
	background-color: #FEFEFE ;
	font-family:'Caveat', cursive;
}

.Menu header
{
	text-align: center;
	margin-top: 0px;
}

.Menu header h2
{
	font-size:50px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#357D3F  , #23FA42  );
}

.Menu h3
{
	text-align: center;
	font-size: 30px;
}

.entree h3 span
{
	margin: 0px 150px 0px;
}

.Menu h3 span:hover
{
  position: relative;
}

.Menu h3 span:after
{
  content: '';
  position: absolute;
  width: 0; height: 4px;
  border-radius: 50%;
  display: block;
  margin-top: 1px;
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
}
 
.Menu h3 span:hover:after
{
  width: 100%;
  left: 0px;
  background:black;
}

.Menu div
{
	font-size: 25px;
}

.Menu .description 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.Menu  .liste p
{
	margin-left: 350px;
}

.Menu .prix p
{
	margin-right: 350px;
}

.Menu section
{
	margin-bottom: 50px;
}



/*esquisse*/

.entree h3 img
{
	width: 25%;
}



/*oeuvre de maître*/

.plat h3
{
	text-align: center;
}

.plat h3 img
{
	margin:0 20px;
	width: 30%;
}

/*au sommet de l'art*/

.dessert h3
{
	text-align: center;
}

.dessert h3 img
{
	margin:0 15px;
	width: 30%;
}





			/*Pied de page*/
.infos
{
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#639B89 ;
}

.infos div:hover
{
	-webkit-animation-name:secousses;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;	 
}

@keyframes secousses
{
	0%
	{
		-webkit-transform: translateY(0px) ;
	}

	10%
	{
		-webkit-transform: translateY(1px) ;
	}

	20%
	{
		-webkit-transform: translateY(2px) ;
	}

	30%
	{
		-webkit-transform: translateY(2px) ;
	}

	40%
	{
		-webkit-transform: translateY(1px);
	}

	50%
	{
		-webkit-transform: translateY(0px) ;
	}

	60%
	{
		-webkit-transform: translateY(-1px) ;
	}

	70%
	{
		-webkit-transform: translateY(-2px) ;
	}

	80%
	{
		-webkit-transform: translateY(-2px);
	}

	90%
	{
		-webkit-transform: translateY(-1px) ;
	}

	100%
	{
		-webkit-transform: translateY(0px);
	}
}

.Mlegales p
{
	
	text-align: center;
	margin-left: 50px;
	font-size: 20px;
	color:#F1BE0D;	
}

.infos p a
{
	text-decoration: none;
	color:#F1BE0D;	
}


 .contact p
{
	margin-right: 50px;
	font-size: 20px;
	color: #F1BE0D;
}


/*media queries*/

@media screen and (max-width: 2560px)
{
	.Menu  .liste p
	{
		margin-left: 500px;
	}

	.Menu .prix p
	{
		margin-right: 500px;
	}
}

@media screen and (max-width: 2000px)
{
	.Menu .liste p
	{
		margin-left: 400px;
	}

	.Menu .prix p
	{
		margin-right:400px;
	}
}

@media screen and (max-width: 1900px)
{
	.Menu .liste p
	{
		margin-left: 300px;
	}

	.Menu .prix p
	{
		margin-right:300px;
	}
}


@media screen and (max-width: 1540px)
{
	.Menu
	{
		margin-bottom: 200px;
	}

	.Menu div p
	{
		font-size: 30px;
	}

	.Menu h3 span
	{
		font-size: 40px;
	}

	.Menu .liste p
	{
		margin-left: 200px;
	}

	.Menu .prix p
	{
		margin-right:200px;
	}

	.Menu header
	{
		margin-bottom: 0;
	}

	.Menu header h2
	{
		font-size:60px;	
	}
}

@media screen and (max-width: 1190px)
{
	.Menu h3 span
	{
		font-size: 30px;
	}

	.entree h3 span
	{
		margin:0 50px 0;
	}

	.Menu div p
	{
		font-size:25px;
	}

	.Menu .liste p
	{
		margin-left: 190px;
	}

	.Menu h3 img
	{
		width: 20%;
		margin:10px 50px;
	}

	.Menu .prix p
	{
		margin-right: 190px;
	}	
}


@media screen and (max-width: 900px)
{
	header #logo img
	{
		width: 30%;
	}

	.Menu
	{
		width: 90%;
	}

	.Menu header h2
	{
		font-size: 50px;
	}

	.Menu .description
	{
		flex-direction: column;
		text-align: center;
	}

	.Menu div p
	{
		font-size: 25px;
	}

	.Menu .liste p
	{
		margin-left: 0;
	}
	
	.Menu .prix p
	{
		margin-right: 0;
	}

	.Menu h3 img
	{
		margin:10px 10px;
		width: 30%;
	}

	.Menu h3 span
	{
		font-size: 35px;
	}
}

@media screen and (max-width: 730px)
{
	.Menu
	{
		margin-bottom: 50px;
	}
	
	.Menu header h2
	{
		font-size: 40px;
	}

	.Menu h3 span
	{	
		font-size:30px;
	}

	.Menu div
	{
		font-size: 20px;
	}

	.infos div p
	{
		font-size: 25px;
	}

	.Menu h3 img
	{
		margin:10px 20px;
		width: 20%;
	}

	.entree h3 span
	{
		margin:0  50px 0;
	}
}

@media screen and (max-width: 480px)
{
	header #logo img
	{
		width: 40%;
	}

	.nom_menu h2
	{
		font-size: 20px;
	}

	.Menu h3 img
	{
		margin:10px 5px;
	}

	.Menu h3 span
	{
		font-size: 25px;
	}

	.Menu div p
	{
		font-size: 20px;
	}

	.infos div p
	{
		font-size: 20px;
	}
	
	.entree h3 span
	{
		margin:0  20px 0;
	}

	.plat h3 span
	{
		margin:0  0px 0;
	}

	.Mlegales p
	{
		margin-left: 10px;
	}

	.contact p
	{
		margin-right: 10px;
	}
}

@media screen and (max-width: 360px)
{
	.Menu h3 span
	{	
		font-size:20px;
	}

	.Menu div p
	{
		font-size: 15px;
	}

	.Mlegales p
	{
		margin-left: 5px;
	}

	.contact p
	{
		margin-right: 5px;
	}		
}



@media screen and (max-width: 280px)
{
	header #logo img
	{
		width: 50%;
	}


	.nom_menu h2
	{
		font-size: 15px;
	}

	.Menu
	{
		margin-bottom: 10px;
	}

	.Menu header h2
	{
		font-size: 30px;
	}

	.Menu
	{
		margin-bottom: 100px;
	}

	.Menu h3 img
	{	
		width: 15%;
	}

	.Menu h3
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.Menu h3 span
	{
		font-size: 20px;
	}

	.Menu div p
	{
		width: 100%;
		font-size: 20px;
	}

	.infos div p
	{
		font-size: 15px;
	}
}
