body
{
	width: 1024px;
	height: auto;
	margin: auto;
	/*border: 1px black solid;*/
	display: flex;
	flex-direction: column;
}

			/*en-tête*/

header
{
	background-color:#2F8D79;

}

header h1
{
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 3em;

}

#Menus
{
	width: 80%;
	height:auto;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#Menus section p a
{
	text-decoration: none;
}



			/*Partie Menus*/

#Menus section
{
	
	margin: 100px 50px;
}


/*section la note enchantée*/
.Mnote
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:1;
	width: 300px;
	height: 400px;
	margin-top: 20px;
	font-family: 'devonshire', Arial, serif;
	font-style: italic;	
	background-color: #FFD9CC;	
}

.Mnote i
{
	font-size: 2em;
	margin-top:100px;
	margin-left: 130px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );
	
}

.Mnote h2
{

	color: #5A3017 ;
}
.Mnote h2,p
{
	text-align: center;
	color: #5A3017 ;
}
.Mnote p
{
	font-size: 2em;

}

/*section Le chic à la française*/

.Mchic
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:2;
	width: 300px;
	height: 400px;
	font-family: 'Baloo 2', cursive;
	background-color: #FFFCFF;
}
.Mchic h2
{
	text-align: center;
	padding-top: 140px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D, #9260FC);
}
.Mchic p
{
	color:#AA6512 ;
	font-size: 2em;
	font-weight: bold;
}

/*section Le délice des papilles*/

.Mdelice
{
	/*background-color: #99ffff;*/
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:3;
	width: 300px;
	height: 400px;
	font-family: 'Baloo Tamma 2', cursive;
	font-style: italic;
	background-color: #F0FCFF;

}
.Mdelice h2
{
	text-align: center;
	padding-top: 140px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}
.Mdelice p
{
	color:#73BFFF;
	font-size: 2em;
}


/*section la note enchantée*/

.Mpalette
{
	/*background-color: #99ff99;*/
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:4;
	width: 300px;
	height: 400px;
	font-family:'Caveat', cursive;
	font-style: italic;
	background-color: #FEFEFE;
	
}
.Mpalette h2
{
	text-align: center;
	padding-top: 140px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#0D9906, #E1FFCD);
	font-size: 1.9em;

}
.Mpalette p
{
	color:#357D3F ;
	font-size: 2em;
}


/*La palette du gôut*/

.next
{
	margin:100px 300px;
	border:1px black none;
	background-color: #2F8D79;
	border-radius: 10px 10px;

	
}
.next h2
{
	color: #EAC645;
	text-align: center;
	font-size: 1.5em;

}




			/*Pied de page*/
footer
{
	width: auto;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;
	/*border: 1px black solid;*/
}

.Mlegales p
{
	
	text-align: center;
	margin-left: 50px;
	font-size: 2em;
	color:#EAC645;
	
}
 .contact p
{
	
	
	margin-right: 50px;
	font-size: 2em;
	color: #EAC645;
}