body
{
	width: 1024px;
	height: auto;
	margin: auto;
	/*border: 1px black solid;*/
	display: flex;
	flex-direction: column;
}

header
{
	background-color:#2F8D79;

}

header h1
{
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 3em;

}

#Menus
{
	width: 80%;
	height:auto;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	

}


#Menus section
{
	
	margin: 100px 50px;
}



/*section la note enchantée*/
.Mnote
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:1;
	width: 300px;
	height: 400px;		
}

.Mnote i
{
	font-size: 2em;
	
}

.Mnote h2
{
	padding-top:100px;
	color: #5A3017 ;
}
.Mnote h2,p
{
	text-align: center;
	color: #5A3017 ;
}


/*section Le chic à la française*/

.Mchic
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:2;
	width: 300px;
	height: 400px;	
}
.Mchic h2
{
	text-align: center;
	padding-top: 100px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D, #9260FC);
}
.Mchic p
{
	color:#AA6512 ;
}

/*section Le délice des papilles*/

.Mdelice
{
	/*background-color: #99ffff;*/
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:3;
	width: 300px;
	height: 400px;

}
.Mdelice h2
{
	text-align: center;
	padding-top: 100px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}
.Mdelice p
{
	color:#73BFFF;
}


/*section la note enchantée*/

.Mpalette
{
	/*background-color: #99ff99;*/
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:4;
	width: 300px;
	height: 400px;
	
}
.Mpalette h2
{
	text-align: center;
	padding-top: 100px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#357D3F  , #23FA42  );
}
.Mpalette p
{
	color:#357D3F ;
}


/*La palette du gôut*/

.next
{
	margin:100px 300px;
	border:1px black none;
	background-color: #2F8D79;
	border-radius: 10px 10px;

	
}
.next h2
{
	color: #EAC645;
	text-align: center;
	font-size: 1.5em;

}

footer
{
	width: auto;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;
	color: #EAC645;
	/*border: 1px black solid;*/
}


.Mlegales
{
	
	text-align: center;
	margin-left: 50px;
	font-size: 2em;
	
}
 .contact 
{
	
	
	margin-right: 50px;
	font-size: 2em;
}