body
{
	width: 1055px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

			/*en-tête*/

header
{
	background-color:#2F8D79;
	width:100%

	
}

header h1
{
	
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 3em;
}

#Menus
{
	width:100%;
	height:auto;
	margin:0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	;
}

#Menus section p a
{
	text-decoration: none;
}


			/*Partie Menus*/



/*section la note enchantée*/
@font-face 
{
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

.Mnote
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:1;
	width: 300px;
	height: 400px;
	margin-top: 100px;
	margin-left:170px;
	margin-right: 30px;
	font-family: 'devonshire', Arial, serif;
	font-style: italic;	
	background-color: #F1DEDC ;	
}

.Mnote i
{
	font-size: 2em;
	margin-top:100px;
	margin-left: 130px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );	
}

.Mnote h2
{
	color: #5A3017 ;
	font-size: 1.6em;
}

.Mnote h2,p
{
	text-align: center;
	color: #5A3017 ;
}

.Mnote p a
{
	font-size: 2.5em;
	color: #5A3017 ;
}

/*section Le chic à la française*/

.Mchic
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:2;
	width: 300px;
	height: 400px;
	font-family: 'Baloo 2', cursive;
	background-color: #FCF5FE ;
	margin-top: 100px;
	margin-right: 170px;
}

.Mchic h2
{
	text-align: center;
	padding-top: 160px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA );
}



.Mchic p a
{
	color:#EA7F0D;
	font-size: 2em;
	font-weight: bold;
}

/*section Le délice des papilles*/

.Mdelice
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:3;
	width: 300px;
	height: 400px;
	margin-left:170px;
	margin-top: 50px;
	font-family: 'Great Vibes', cursive;
	font-style: italic;
	background-color: #ECF3F4;
}

.Mdelice h2
{
	text-align: center;
	font-size: 2em;
	padding-top: 140px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}

.Mdelice p a
{
	color:#090675;
	font-size: 2em;
}


/*section la note enchantée*/

.Mpalette
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:4;
	width: 300px;
	height: 400px;
	margin-right: 170px;
	margin-top: 50px;
	font-family:'Caveat', cursive;
	font-style: italic;
	background-color: #FEFEFE;	
}

.Mpalette h2
{
	text-align: center;
	padding-top: 140px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#0D9906, #E1FFCD);
	font-size: 1.9em;
}

.Mpalette p a
{
	color:#0D9906 ;
	font-size: 2em;
}


/*section La palette du gôut*/



.next
{
	margin:100px 400px;
	padding:5px 50px;
	border:1px black none;
	background-color: #2F8D79;
	border-radius: 10px 10px;
	

}

.next h2
{
	color: #EAC645;
	text-align: center;
	font-size: 1.5em;
}




			/*Pied de page*/
.infos
{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:100%;
	height:auto;
	background-color:#2F8D79 ;
	
}

.Mlegales p
{	
	justify-content: flex-start;
	text-align: center;
	font-size: 2em;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

 .contact p
{
	justify-content: flex-end;
	font-size: 2em;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

/*media quieries*/

@media screen and (max-width:900px)
{
	
	header h1
	{
		font-size: 4em;
	}

	#Menus
	{
		flex-direction: column;
	
	}

	#Menus div
	{
		margin:50px auto;
		width: 400px;
		height: 600px;
		font-size: 1.5em;
		padding-top:50px;
	}

	#Menus div i
	{
		margin-left: 180px;
	}



	.infos
	{
		margin:auto;
		position: fixed;
		bottom:0;
	}



	

@media screen and (max-width:700px)
{
	header h1
	{
		font-size: 5em;

	}

	header
	{
		width: 1150px;
	}

	#Menus div
	{
		margin:50px auto;
		width: 600px;
		height: 800px;
		font-size: 2em;
		padding-top:50px;
	}

	.next
	{
		margin-top: 30px;
		margin-bottom: 300px;	
	}

	.next h2
	{
		font-size: 2.5em;
	}

	.infos p
	{
		font-size: 3em;
	}

}

@media screen and (max-width:400px)
{

}

	



