

/* devonshire-regular - latin */
@font-face {
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

body
{
	margin: 0px;	/*border: 1px black solid;*/
	display: flex;
	flex-direction: column;	
}

			/*en-tête*/

.logo
{
	background-color:#2F8D79;
}

.logo h1
{
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 9em;
}

.logo h1 a
{
	color: #EAC645;
	text-decoration: none;
}

.nom_menu
{
	text-align: center;
	margin-top: 50px;
	font-size: 3em;	
}

#Menu
{
	border:1px black none;
	width: 70%;
	height:auto;
	margin:auto;
	margin-bottom:  200px;
	display: flex;
	flex-direction: column;
	background-color:#F1DEDC   ;
	font-family: 'devonshire', Arial, serif;
	color:#5A3017;
}

#Menu header
{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#Menu header h2
{
	font-size: 6em;	
}

#Menu header i
{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );
	font-size: 10em;
	margin-bottom: 0px;
}



/*prelude*/

#Menu h3
{
	text-align: center;
	font-size:4em;
			
}

#Menu div
{
	font-size: 1.8em;
	margin-left: 160px;
}

#Menu .prix
{
	margin-right: 350px;
}

.entree h3 img
{
	width: 30%;
	margin:0 80px;
}
.entree div ul
{
	list-style-type: none;
}

.raviolis
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.caviar
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.homard
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.foiegras
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.entree .list
{	
	
	width: 100%;
}





/*point d'orgue*/

.plat h3
{
	text-align: center;
}
.plat h3 img
{
	width: 30%;
	margin:0 50px;
}

.plat div ul
{
	list-style-type: none;
}

.saint-jacques
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.langoustine
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mijoteboeuf
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.plat .list
{	
	width: 100%;
	
}




/*mouvement final*/

.dessert
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.dessert h3
{
	text-align: center;
}
.dessert  h3 img
{
	width: 30%;
	margin:0 10px;
}


.dessert ul 
{
	flex-direction:column;
	list-style-type: none;			
}

.dessert div
{
	margin-left:110px;
}


#Menu footer
{
	text-align: center;
	margin:30px 0px;
}

#Menu footer i
{
	font-size:2em;
	margin-right: 20px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );
}

#Menu footer p
{
	font-size: 5em;
}


			/*Pied de page*/
.infos
{
	position: fixed;
	bottom:0;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;	
}

.Mlegales p
{	
	text-align: center;
	margin-left: 50px;
	font-size: 4em;
	color:#EAC645;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

 .contact p
{
	margin-right: 50px;
	font-size: 4em;
	color: #EAC645;
}



/*media queries*/

@media screen and (max-width: 2560px)
{
	
	#Menu div
	{
		margin-left:70px;
		
	}

	#Menu
	{
		margin-bottom:400px;
	}

		#Menu .prix
	{
		margin-right: 200px;
	}
}

@media screen and (max-width: 1920px)
{
	#Menu div
	{
		margin-left: 30px;
		
	}

	#Menu .prix
	{
		margin-right: 100px;
	}

	#Menu footer i
	{
		font-size:1.8em;
	}


}

@media screen and (max-width: 1680px)
{
	
	.logo h1
	{
		font-size: 5em;
	}

	.nom_menu h2
	{
		font-size: 1.4em;
	}

	#Menu
	{
		margin-bottom:300px;
	}

	#Menu header h2
	{
		font-size: 3em;
	}

	#Menu header i
	{
		font-size: 8em;
	}	

	#Menu h3
	{
		text-align: center;
		font-size:2.4em;		
	}

	#Menu h3 img
	{
		width: 30%;
		margin:0 50px;
	}

	#Menu .logoM i
	{
		font-size: 1.4em;
	}

	#Menu .logoM p
	{
		font-size: 3em;
	}

	#Menu div
	{
		font-size: 1.4em;
	}

	.infos div p
	{
		font-size: 40px;
	}

}

@media screen and (max-width: 1440px)
{
	.infos div p
	{
		font-size: 2em;
	}
	
	#Menu h3
	{
		text-align: center;
		font-size:2.2em;
			
	}

	#Menu h3 img
	{
		width: 30%;
		margin:0 20px;
	}

	#Menu div
	{
		font-size: 1.3em;
	}
}

@media screen and (max-width: 1024px)
{

	.nom_menu h2
	{
		font-size:0.8em;
	}

	#Menu
	{
		width: 80%;
	}

	#Menu header i
	{
		font-size: 5em;
	}

	#Menu h3
	{
		font-size: 2.7em;
	}

	#Menu div
	{
		flex-direction: column;
		font-size: 1.4em;
	}

	#Menu div ul
	{
		text-align: center;
		margin-left: 0px;
		margin-right: 100px;		
	}

	#Menu .prix
	{
		margin-right: 0px;
		text-align: center;
		margin-right: 50px;
	}

		#Menu h3 img
	{
		width: 30%;
		margin:0 5px;
	}
}



@media screen and (max-width: 767px)
{
	
	#Menu span
	{	
		font-size: 50px;
	}

	#Menu div
	{
		font-size: 40px;
	}

	#Menu header
	{
		font-size: 1.4em;
	}

	#Menu footer
	{
		font-size: 1.4em;
	}

	.infos div p
	{
		font-size: 40px;
	}
}

@media screen and (max-width: 600px)
{
	#Menu span
	{	
		font-size:40px;
	}

	.infos div p
	{
		font-size: 30px;
	}

}

@media screen and (max-width: 425px)
{
	.logo
	{
		font-size: 0.8em;
	}


	#Menu header
	{
		font-size: 1em;
	}
	#Menu span
	{	
		font-size:35px;
	}

	#Menu h3 img
	{	
		width: 20%;
	}

	#Menu div
	{
		font-size: 30px;
		margin-left: 25px;
	}

	#Menu footer
	{
		font-size: 0.9em;
	}

	.infos div p
	{
		font-size: 20px;

	}

	.Mlegales p
	{
		margin-left: 40px;
	}

	.contact p
	{
		margin-right:10px;
	}

}

@media screen and (max-width: 375px)
{
	
	#Menu header
	{
		font-size: 0.7em;
		margin-bottom: 0px;
	}

	#Menu
	{
		margin-bottom: 150px;
	}
	

	#Menu div
	{
		font-size: 20px;
		margin-left: 20px;

	}

	#Menu span
	{	
		font-size:30px;
	}

	#Menu footer
	{
		font-size: 0.6em;
	}

	.infos div p
	{
		font-size: 20px;
	}

}

@media screen and (max-width: 320px)
{
	#Menu span
	{	
		font-size:25px;
	}

	.infos div p
	{
		font-size: 18px;
	}

	.nom_menu h2
	{
		font-size: 0.3em;
	}

	.logo h1
	{
		font-size:2.8em;
	}
}

@media screen and (max-width: 240px)
{
	.logo h1
	{
		font-size:3em;
	}

	.nom_menu h2
	{
		font-size: 0.5em;
	}

	#Menu header
	{
		font-size: 0.6em;
		margin-bottom: 0px;
	}

	#Menu
	{
		margin-bottom: 100px;
	}
	#Menu h3 img
	{	
		width: 15%;
	}

	#Menu h3
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Menu span
	{
		font-size: 20px;
	}

	#Menu div
	{
		margin-left: 10px;
		width: 100%;
		font-size: 17px;
	}

	#Menu .prix p
	{
		margin-right:  50px;
	}

	#Menu footer
	{
		font-size: 0.5em;
	}

	.infos div p
	{
		font-size: 15px;
	}
}