body
{
	width: 1024px;
	height: auto;
	margin: auto;
	/*border: 1px black solid;*/
	display: flex;
	flex-direction: column;
}

			/*en-tête*/

#logo
{
	background-color:#2F8D79;
}

#logo h1
{
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 3em;
}

#logo h1 a
{
	text-decoration: none;
	color: #EAC645;
}
#Menu
{
	border:1px black none;
	width: 80%;
	height:auto;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	background-color: #FEFEFE ;
	font-family:'Caveat', cursive;


}
#Menu header
{
	text-align: center;
	margin-top: 50px;
}
#Menu header h2
{
	font-size:4em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#357D3F  , #23FA42  );
}


/*esquisse*/

#Menu h3
{
	text-align: center;
	font-size: 1.8em;

}


#Menu div
{
	font-size: 1.2em;
}

.entree div ul
{
	list-style-type: none;
}
.entree h3 img
{
	margin:0 55px;
	width: 30%;
}

.fricassee
{
	display: flex;
	flex-direction: row;
}

.oeuf
{
	display: flex;
	flex-direction: row;
}

.foiegras
{
	display: flex;
	flex-direction: row;
}

.entree .prix
{
	width:10%;
	margin-right: 50px;	
}

.entree .list
{	
	width: 90%;
	margin-left: 50px;
}

/*oeuvre de maître*/

.plat h3
{
	text-align: center;
}
.plat h3 img
{
	margin:0 20px;
	width: 30%;
}


.plat div ul
{
	list-style-type: none;
}

.filetboeuf
{
	display: flex;
	flex-direction: row;
}

.parmentier
{
	display: flex;
	flex-direction: row;
}

.turbot
{
	display: flex;
	flex-direction: row;
}

.plat .prix
{
	width:10%;
	margin-right: 50px;	
}

.plat .list
{
	
	width: 90%;
	margin-right: 30px;
	margin-left: 50px;
}

/*au sommet de l'art*/

.dessert h3
{
	text-align: center;
}
.dessert h3 img
{
	margin:0 15px;
	width: 30%;
}


.parisbrest
{
	display: flex;
	flex-direction: row;
}

.macaron
{
	display: flex;
	flex-direction: row;
}

.mousse
{
	display: flex;
	flex-direction: row;
	margin-bottom: 60px;
}

.dessert div ul
{
	list-style-type: none;
}

.dessert .list
{
	
	width: 90%;
	margin-right: 30px;
	margin-left: 50px;
}
.dessert .prix
{
	width:10%;
	margin-right: 50px;		
}



			/*Pied de page*/
#infos
{
	width: auto;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;
	/*border: 1px black solid;*/
}

.Mlegales p
{
	
	text-align: center;
	margin-left: 50px;
	font-size: 2em;
	color:#EAC645;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

 .contact p
{
	margin-right: 50px;
	font-size: 2em;
	color: #EAC645;
}
