body
{
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

			/*en-tête*/





header #logo
{
	width: 100%;
	margin:0;
	text-align: center;
	background-color:#639B89 ; 

}

#logo img
{
	width: 20%;
	margin-top: 50px;
	margin-bottom: 50px;	
}

/*header h1
{
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 60px;
}*/


.Menus
{
	width: 100%;
	height:auto;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Menus section
{
	display: flex;	
}

.Menus .groupe_A div, .Menus  .groupe_B  div
{	
	margin-top:8%;
	margin-right: 20px;
	margin-left: 20px;	
}

.Menus section  a
{
	text-decoration: none;
}

.affiche div
{
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	width: 300px;
	height:400px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 400ms;	
}

.affiche div:hover
{
	opacity:0.5;
	transition: opacity 400ms;
}

.affiche div h2,p
{
	transition-property: transform;
	transition-duration: 400ms;
}

.affiche div:hover h2, .affiche div:hover p
{
	transition: transform 400ms;
	transform:scale(1.25);
}



			/*Partie affiche des Menus*/


/*section la note enchantée*/
@font-face 
{
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

.Mnote
{
	order:1;
	font-family: 'devonshire', Arial, serif;
	font-style: italic;	
	background-color: /*#F1DEDC*/ #FFE1E1  ;
	margin-top: 20px;
}

.Mnote div
{
	height: 100%;
}

.Mnote img
{	text-align: center;
	width: 3em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );	
}

.Mnote h2,p
{
	color: #5A3017 ;
	font-size:30px;
}



/*section Le chic à la française*/

.Mchic
{
	order:2;
	font-family: 'Baloo 2', cursive;
	background-color: #FCF5FE ;
}

.Mchic div
{
	height: 100%;
}

.Mchic h2
{
	font-size: 20px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA );
}

.Mchic p
{
	color:#EA7F0D;
	font-size:25px;
	font-weight: bold;
}

/*section Le délice des papilles*/

.Mdelice
{
	order:3;
	font-family: 'Great Vibes', cursive;
	font-style: italic;
	background-color: #ECF3F4;
}

.Mdelice div
{
	height: 100%;
}

.Mdelice h2
{
	font-size: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}

.Mdelice p
{
	color:#090675;
	font-size: 30px;
}


/*section la note enchantée*/

.Mpalette
{
	order:4;
	font-family:'Caveat', cursive;
	font-style: italic;
	background-color: #FEFEFE;	
}

.Mpalette div
{
	height: 100%;
}

.Mpalette h2
{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#0D9906, #E1FFCD);
	font-size: 30px;
}

.Mpalette p 
{
	color:#0D9906 ;
	font-size: 30px;
}


/*section La palette du gôut*/


.prochainement
{
	width: 250px;
	margin:50px auto 200px;
	border:1px black none;
	background-color: #639B89 ;
	border-radius: 10px 10px;	
}

.prochainement div h2
{
	color: #F1BE0D;
	display: flex;
	align-items: center;
	font-size: 25px;
	padding-left: 20px;
	margin: 10px;
	
}

.prochainement div h2:after
{
	content: "\2026";	
	display: inline-block;
	font-size: 30px;
	overflow: hidden;
	animation-name: suspensions;
	animation-duration: 1.2s;
	animation-timing-function: steps(4,end);
	-webkit-animation: suspensions steps(4,end) 1.2s infinite;
}
	

@keyframes suspensions
{
	0%
	{
		width: 0;
	}


	50%
	{
		width: 20px;
	}


	100%
	{
		width: 40px;
	}
}

@-webkit-keyframes suspensions
{
	0%
	{
		width: 0;
	}


	50%
	{
		width: 20px;
	}


	100%
	{
		width: 40px;
	}
}





			/*Pied de page*/
.infos
{
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	height:auto;
	background-color:#639B89 ;	
}

.infos p a
{
	text-decoration: none;
	color:#F1BE0D;
}
.Mlegales p
{
	justify-content: flex-start;
	margin-left: 50px;
	font-size: 20px;	
}


 .contact p
{
	justify-content: flex-end;
	margin-right: 50px;
	font-size: 20px;	
}

.infos div:hover
{
	-webkit-animation-name:secousses;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;	 
}

@keyframes secousses
{
	0%
	{
		-webkit-transform: translateY(0px) ;
	}

	10%
	{
		-webkit-transform: translateY(1px) ;
	}

	20%
	{
		-webkit-transform: translateY(2px) ;
	}

	30%
	{
		-webkit-transform: translateY(2px) ;
	}

	40%
	{
		-webkit-transform: translateY(1px);
	}

	50%
	{
		-webkit-transform: translateY(0px) ;
	}

	60%
	{
		-webkit-transform: translateY(-1px) ;
	}

	70%
	{
		-webkit-transform: translateY(-2px) ;
	}

	80%
	{
		-webkit-transform: translateY(-2px);
	}

	90%
	{
		-webkit-transform: translateY(-1px) ;
	}

	100%
	{
		-webkit-transform: translateY(0px);
	}
}




/*Media Queries*/

@media screen and (max-width: 880px)
{
	.Menus
	{
		margin: 0 auto;
	}

	.infos p
	{
		font-size: 20px;
	}

	header #logo img
	{
		width: 40%;
	}
}


@media screen and (max-width: 780px)
{
	.Menus 
	{
		flex-direction: column;
	}
	
	.Menus section
	{	
		flex-direction: column;	
	}

	.Menus .affiche div
	{
		margin-right: 0;
		margin-left: 0;
	}

	.Menus div
	{
		width: 300px;
		height: 400px;
	}

	
	.Menus div  h2
	{
		font-size: 20px;
	}

	.Menus div p
	{
		font-size: 25px;
	}

	.Menus .Mnote img
	{
	
		font-size: 18px;
	}
}

@media screen and (max-width:600px)
{
	.Menus div
	{
		width: 250px;
		height: 350px;
	}

	.Menus div  h2
	{
		font-size: 20px;

	}
	.Menus div  h2+p
	{
		font-size: 20px;
	}

	.infos p
	{
		font-size: 20px;
	}

	.Mlegales p
	{
		margin-left: 20px;
	}

	.contact p
	{
		margin-right:20px;
	}

	.Menus .Mnote img
	{
		font-size: 14px;
	}

	.prochainement
	{
		width: 200px;
	}

	.prochainement div h2
	{
		font-size: 20px;
		
	}

	.prochainement div h2:after
	{
		content: "...";	
		font-size: 25px;
	}
}

@media screen and (max-width: 340px)
{
	header #logo img
	{
		width: 60%;
	}


	.Menus div
	{	
		width: 200px;
		height: 300px;

	}

	.Menus div  h2,p
	{
		font-size: 15px;

	}

	.Menus .Mnote img
	{
		font-size: 15px;
	}

	.infos p
	{
		font-size: 15px;
	}
	
	.prochainement div h2
	{
		font-size: 15px;
	}

	.prochainement
	{
		width: 150px;
	}

	.prochainement div h2:after
	{
		content: "...";	
		font-size: 20px;
	}	
}

@media screen and (max-width: 280px)
{
	.infos p
	{
		font-size: 16px;
	}
}