body
{
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}


#logo
{
	width: 100%;
	margin: 0;
}

#logo img
{
	margin:0;
	width: 100%;
}

.informations
{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 100px;
	padding:100px ;
}



.informations h3
{
	background-color:#4A8069;
	color: #F1BE0D;
	width: 100%;
}


footer
{
	position: fixed;
	bottom:0;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: center;
	background-color:#4A8069;
}

footer div:hover
{
	-webkit-animation-name:secousses;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;	 
}

@keyframes secousses
{
	0%
	{
		-webkit-transform: translateY(0px) ;
	}

	10%
	{
		-webkit-transform: translateY(1px) ;
	}

	20%
	{
		-webkit-transform: translateY(2px) ;
	}

	30%
	{
		-webkit-transform: translateY(2px) ;
	}

	40%
	{
		-webkit-transform: translateY(1px);
	}

	50%
	{
		-webkit-transform: translateY(0px) ;
	}

	60%
	{
		-webkit-transform: translateY(-1px) ;
	}

	70%
	{
		-webkit-transform: translateY(-2px) ;
	}

	80%
	{
		-webkit-transform: translateY(-2px);
	}

	90%
	{
		-webkit-transform: translateY(-1px) ;
	}

	100%
	{
		-webkit-transform: translateY(0px);
	}
}



footer .contact p a
{
	text-decoration: none;
	color: #F1BE0D;
	font-size: 25px;
	margin-left: 50px;
}


@media screen and (max-width: 2560px)
{
	* p
	{
		font-size: 20px;

	}

	* h3
	{
		font-size: 30px;
	}

	header h1
	{
		font-size:50px;
	}

	aside h2
	{
		font-size: 40px;
	}
}

@media screen and (max-width: 1024px)
{
	body
	{
		text-align: center;
	}
	* p
	{
		font-size: 15px;
	}

	* h3
	{
		font-size: 25px;
	}

	header h1
	{
		font-size:40px;
	}

	aside h2
	{
		font-size: 30px;
	}
}

@media screen and (max-width: 760px)
{
	footer .contact p
	{
		font-size: 25px;
	}

	.informations
	{
		padding: 30px;
	}
}

@media screen and (max-width: 640px)
{
	footer .contact p
	{
		font-size: 20px;
	}

}

@media screen and (max-width: 415px)
{
	footer .contact p
	{
		font-size: 10px;
	}

}

@media screen and (max-width: 320px)

{
	.informations h3
	{
		font-size: 20px;
	}
}


