

/* devonshire-regular - latin */
@font-face 
{
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

body
{
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;	
}

			/*en-tête*/

.logo
{
	background-color:#2F8D79;
}

.logo h1
{
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 60px;
}

.logo h1 a
{
	color: #EAC645;
	text-decoration: none;
}

 .nom_menu
{
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 0px;		
}

#Menu
{
	border:1px black none;
	width: 70%;
	height:auto;
	margin:auto;
	margin-bottom:  400px;
	display: flex;
	flex-direction: column;
	background-color:#F1DEDC   ;
	font-family: 'devonshire', Arial, serif;
	color:#5A3017;

}

#Menu header
{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#Menu header h2
{
	font-size:80px;	
}

#Menu header i
{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );
	font-size: 100px;
	margin-bottom: 0px;
}

#Menu h3
{
	text-align: center;
	margin-top: 50px;
				
}

#Menu h3 img
{
	width: 30%;
	margin:10px 50px;
}

#Menu h3 span
{
	font-size: 60px;
}

#Menu div p
{
	font-size: 40px;
}

#Menu .liste p
{
	margin-left: 200px;
}

#Menu .prix p
{
	margin-right: 200px;
}


/*prelude*/

.entree h3 span
{

	margin:0  70px 0;
}

.plat h3 span
{
	margin:0  30px 0;
}




.raviolis
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.caviar
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.homard
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.foiegras
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.entree .liste
{	
	
	width: 100%;
}





/*point d'orgue*/




.saint-jacques
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.langoustine
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mijoteboeuf
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.plat .liste
{	
	width: 100%;
	
}




/*mouvement final*/

.dessert
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}




.dessert p 
{
	flex-direction:column;
	list-style-type: none;			
}




#Menu footer
{
	text-align: center;
	margin:30px 0px;
}

#Menu footer i
{
	font-size:80px;
	margin-right: 20px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );
}

#Menu footer p
{
	font-size: 80px;
}



		/*Pied de page*/
	.infos
{
	position: fixed;
	bottom:0;
	width: 100%;
	height:auto;
	display: flex;
	justify-content: space-between;
	background-color:#2F8D79 ;	
}

.Mlegales p
{	
	text-align: center;
	margin-left: 50px;
	font-size: 30px;
	color:#EAC645;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

 .contact p
{
	margin-right: 50px;
	font-size: 30px;
	color: #EAC645;
}



/*media queries*/

@media screen and (max-width: 2000px)
{
	
	#Menu .liste p
	{
		margin-left: 100px;
	}

	#Menu .prix p
	{
		margin-right: 120px;
	}


}


@media screen and (max-width: 1840px)
{

	#Menu h3 img
	{
		width: 25%;
		margin:10px 50px;
	}
	#Menu h3 span
	{
		font-size: 50px;

	}

}

@media screen and (max-width: 1540px)
{
	#Menu
	{
		margin-bottom: 200px;
	}

	#Menu div p
{
	font-size: 30px;
}
	#Menu h3 span
	{
		font-size: 40px;

	}

	.entree h3 span
	{

		margin:0  60px 0;
	}

	#Menu header
	{
		margin-bottom: 0;
	}

	#Menu header h2
	{
		font-size:60px;	
	}

	#Menu header i
	{

		font-size: 80px;


	}



	#Menu footer i
	{
		font-size:60px;
	
	}
	#Menu footer p
	{
		font-size: 60px;
	}


}
@media screen and (max-width: 1190px)
{
	#Menu h3 span
	{
		font-size: 30px;

	}

	.entree h3 span
	{

		margin:0  50px 0;
	}
	#Menu div p
{
	font-size:25px;
}

#Menu h3 img
	{
		width: 20%;
		margin:10px 50px;
	}

	#Menu .prix p
	{
		margin-right: 100px;
	}

	#Menu footer p,i
	{
		font-size:50px;
	}
	
}


@media screen and (max-width: 900px)
{
	#Menu
	{
		width: 90%;
	}

	#Menu header h2
	{
		font-size: 50px;
	}

	#Menu div
	{
		flex-direction: column;
		text-align: center;

	}



	#Menu div p
	{
		font-size: 25px;
	}

	#Menu .liste p
	{
		margin-left: 0;
	}
	
	#Menu .prix p
	{
		margin-right: 0;
	}

	#Menu h3 img
	{
		margin:10px 10px;
		width: 30%;

	}

	#Menu h3 span
	{
		font-size: 35px;
	}
}

@media screen and (max-width: 730px)
{

	#Menu header h2
	{
		font-size: 40px;
	}

	#Menu h3 span
	{	
		font-size:30px;
	}

	#Menu div
	{
		font-size: 20px;
	}

	.infos div p
	{
		font-size: 25px;
	}

	#Menu h3 img
	{
		margin:10px 20px;
		width: 20%;

	}
	.entree h3 span
	{

		margin:0  50px 0;
	}

}

@media screen and (max-width: 480px)
{
	#Menu h3 img
	{
		margin:10px 5px;

	}

	#Menu div p
	{
		font-size: 20px;
	}
	.infos div p
	{
		font-size: 20px;
	}
	#Menu footer p,i
	{
		font-size:30px;
	}

	.entree h3 span
	{

		margin:0  20px 0;
	}

	.plat h3 span
	{
		margin:0  0px 0;
	}

}

@media screen and (max-width: 330px)
{
	#Menu header i
	{
		font-size: 50px;
	}

	#Menu h3 span
	{	
		font-size:25px;
	}

	#Menu div p
	{
		font-size: 15px;
	}

	.Mlegales p
	{
		margin-left: 10px;
	}

	.contact p
	{
		margin-right: 10px;
	}

	
	
}



@media screen and (max-width: 255px)
{
	.logo h1
	{
		font-size:40px;
	}

	#Menu header i
	{
		font-size: 40px;
	}

	#Menu header h2
	{
		font-size: 30px;
	}


	#Menu
	{
		margin-bottom: 100px;
	}
	#Menu h3 img
	{	
		width: 15%;
	}

	#Menu h3
	{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	#Menu h3 span
	{
		font-size: 20px;
	}

	#Menu div
	{
		
		width: 100%;
		font-size: 17px;
	}

	
	#Menu .logoM p
	{
		font-size: 23px;
	}

	#Menu .logoM i
	{
		font-size: 23px;
	}

	.infos div p
	{
		font-size: 15px;
	}
}
