body
{
	width:100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column;
}

			/*en-tête*/

header
{
	background-color:#2F8D79;
	width:100%;
}

header h1
{
	
	color: #EAC645;
	font-weight: bold;
	text-align: center;
	font-family:Times New Roman;
	font-size: 60px;
}

#Menus
{
	width:100%;
	height:auto;
	margin:0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #FFFFFF;
}

#Menus section  a
{
	text-decoration: none;
}


			/*Partie Menus*/



/*section la note enchantée*/
@font-face 
{
  font-family: 'devonshire';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/devonshire-v8-latin-regular.eot');
  src: local('Devonshire-Regular'),
       url('Fonts/devonshire-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/devonshire-v8-latin-regular.woff2') format('woff2'),
       url('Fonts/devonshire-v8-latin-regular.woff') format('woff'),
       url('Fonts/devonshire-v8-latin-regular.ttf') format('truetype'),
       url('Fonts/devonshire-v8-latin-regular.svg#Devonshire') format('svg'); 
}

.Mnote
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:1;
	width: 400px;
	height:500px;
	margin-top: 100px;
	margin-left:160px;
	font-family: 'devonshire', Arial, serif;
	font-style: italic;	
	background-color: #F1DEDC ;
}

.Mnote i
{
	font-size: 4em;
	margin-top:100px;
	margin-left: 170px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#FB26DB , #E1650A );	
}

.Mnote h2
{
	color: #5A3017 ;
	font-size: 30px;
}

.Mnote h2,p
{
	text-align: center;
	color: #5A3017 ;
}

.Mnote p 
{
	font-size:50px;
	color: #5A3017 ;
}

/*section Le chic à la française*/

.Mchic
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:2;
	width: 400px;
	height:500px;
	font-family: 'Baloo 2', cursive;
	background-color: #FCF5FE ;
	margin-top: 100px;
	/*margin-right: 170px;*/
}

.Mchic h2
{
	font-size: 30px;
	text-align: center;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#EA7F0D , #8B4068 , #562ACA );
}

.Mchic p
{
	color:#EA7F0D;
	font-size:40px;
	font-weight: bold;
}

/*section Le délice des papilles*/

.Mdelice
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:3;
	width: 400px;
	height:500px;
	/*margin-left:170px;*/
	margin-top: 100px;
	font-family: 'Great Vibes', cursive;
	font-style: italic;
	background-color: #ECF3F4;
}

.Mdelice h2
{
	text-align: center;
	font-size: 30px;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#090675 , #73BFFF );
}

.Mdelice p
{
	color:#090675;
	font-size: 40px;
}


/*section la note enchantée*/

.Mpalette
{
	border:1px black none;
	box-shadow:1px 1px 5px 1px grey;
	order:4;
	width: 400px;
	height:500px;
	margin-right: 160px;
	margin-top: 100px;
	font-family:'Caveat', cursive;
	font-style: italic;
	background-color: #FEFEFE;	
}

.Mpalette h2
{
	text-align: center;
	padding-top: 180px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#0D9906, #E1FFCD);
	font-size: 30px;
}

.Mpalette p 
{
	color:#0D9906 ;
	font-size: 40px;
}


/*section La palette du gôut*/



.next
{
	
	margin:200px auto;
	padding:5px 50px;
	border:1px black none;
	background-color: #2F8D79;
	border-radius: 10px 10px;
}

.next h2
{
	color: #EAC645;
	text-align: center;
	font-size: 2em;
}




			/*Pied de page*/
.infos
{
	position: fixed;
	bottom: 0;
	width: 1903px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
	height:auto;
	background-color:#2F8D79 ;	
}

.Mlegales p
{	
	justify-content: flex-start;
	margin-left: 50px;
	text-align: center;
	font-size: 2.3em;	
}

.Mlegales p a
{
	text-decoration: none;
	color:#EAC645;	
}

 .contact p
{
	justify-content: flex-end;
	margin-right: 50px;
	font-size: 2.3em;	
}

.contact p a
{
	text-decoration: none;
	color: #EAC645;
}

@media screen and (max-width: 2260px)
{
	body
	{

		width: auto;
		
	}
	
}


@media screen and (max-width: 2000px)
{
	.Mnote
	{
		margin-left: 100px;
		margin-top: 100px;
	}

	.Mchic
	{
		margin-right: 0px;
		margin-top: 100px;
	}

	.Mdelice
	{
		margin-left: 0px;
	}

	.Mpalette
	{
		margin-right:100px;
	}

	.next
	{
		margin-top: 100px;
	}
}

@media screen and (max-width: 1800px)
{
	#Menus div
	{
		width: 600px;
		height: 700px;	
	}


	.Mnote
	{
		margin-left: 250px;
		margin-top: 100px;
	}

	.Mnote i
	{
		margin-top: 180px;
	}

	#Menus div h2,p
	{
		font-size: 50px;

	}

	.Mchic
	{
		margin-right: 260px;
		margin-top: 100px;
	}

	.Mchic h2
	{
		padding-top: 250px;
	}

	.Mdelice
	{
		margin-left: 250px;
	}
	.Mdelice h2
	{
		padding-top: 250px;
	}

	.Mpalette
	{
		margin-right:250px;
	}
	.Mpalette h2
	{
		padding-top: 250px;
	}
	.next
	{
		margin-top: 100px;
	}
}

@media screen and (max-width: 1700px)
{
	
	#Menus div
	{
		width: 500px;
		height: 600px;
	}

	#Menus div h2,p
	{
		font-size: 40px;

	}
	.Mnote
	{
		margin-left: 256px;
		margin-top: 100px;
	}

	.Mnote i
	{
		margin-top: 100px;
		margin-left: 230px;
	}

	.Mchic
	{
		margin-right: 250px;
		margin-top: 100px;
	}

	.Mchic h2
	{
		padding-top: 180px;
	}

	.Mdelice
	{
		margin-left: 250px;
	}
	.Mdelice h2
	{
		padding-top: 200px;
	}

	.Mpalette
	{
		margin-right: 250px;
	}
	.Mpalette h2
	{
		padding-top: 200px;
	}
}

@media screen and (max-width: 1510px)
{
	#Menus div
	{
		width: 400px;
		height: 500px;
	}

	#Menus div h2,p
	{
		font-size: 35px;


	}

	.Mnote
	{
		margin-left: 250px;
		margin-top: 100px;
	}

	.Mnote i
	{
		font-size: 60px;
		margin-left: 170px;
	}

	.Mchic
	{
		margin-right: 250px;
		margin-top: 100px;
	}

	.Mdelice
	{
		margin-left: 250px;
	}

	.Mpalette
	{
		margin-right: 250px;
	}

}

@media screen and (max-width: 1289px)
{
	#Menus
	{
		flex-direction: column;
	}

	#Menus div
	{
		margin:50px auto;
	}

	.next
	{
		margin-top: 30px;
	}

}

@media screen and (max-width: 600px)
{
	.infos
	{
		font-size: 0.8em;
	}

}


@media screen and (max-width: 425px)
{
	header
	{
		height: auto;
	}

	header h1
	{
		font-size: 3em;
	}

	.infos
	{
		font-size: 0.5em;
	}

	.Mlegales p
	{
		margin-left: 5px;
	}

	.contact p
	{
		margin-right: 5px;
	}


	#Menus div
	{

		width: 250px;
		height:350px;
		font-size: 0.7em;
	}

	#Menus div h2,p
	{
		font-size: 30px;
	}
	.Mchic h2
	{
		padding-top: 50px;
	}

	.Mdelice h2
	{
		padding-top: 80px;
	}
	.Mpalette h2
	{
		padding-top: 80px;
	}
	

	.Mnote i
	{
		margin-top: 30px;
		margin-left:100px;
		font-size:50px;
	}

	.next h2
	{
		font-size: 1.5em;
	}

}

@media screen and (max-width: 300px)
{
	#Menus div
	{

		width: 200px;
		height:300px;
	}
}

@media screen and (max-width: 240px)
{
	

	#Menus div
	{
		font-size: 0.5em;
		margin: 50px auto;
	}


	#Menus div h2
	{
		padding-top: 50px;
	}

	.Mnote i
	{
		margin-top: 30px;
	}

	.Mlegales p
	{
		margin-left: 10px;
		font-size: 20px;
	}

	.contact p
	{
		margin-right: 10px;
		font-size: 20px;
	}

	.next h2
	{
		font-size: 1em;
	}
}
